@model ShopTARge24.Models.AccuWeathers.AccuWeathersSearchViewModel

<div class="container">
	<h2>Forecast for the selected city</h2>
	<h2>@Html.DisplayFor(model => model.CityName)</h2>
	<hr />
	<dl class="row text-dark">
		Temperature (Celsius):
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.TempMinCelsius) °C
		</dd>

	</dl>
</div>