@model ShopTARge24.Models.Spaceships.SpaceshipCreateViewModel

<h1>Create</h1>

<div>
	<form method="post" enctype="multipart/form-data">
		<input asp-for="Id" type="hidden"/>
		<input asp-for="CreatedAt" type="hidden"/>
		<input asp-for="ModifiedAt" type="hidden"/>
	</form>
</div>