@model ShopTARge24.Models.ChuckNorris.ChuckNorrisModel

<h1>Joke</h1>

<div class="container mt-4">
    <h2>Random Joke from Chuck</h2>
    <img src="https://i.gifer.com/2Xx.gif" alt="Chuck Norris" width="100" />
    <p class="lead">@Model.Value</p>

    <a class="bt btn-primary" asp-controller="ChuckNorris" asp-action="Index">Another?</a>
</div>